@keyframes slideTime {
    0% {
        max-width: 0;
    }

    100% {
        max-width: 100%;
    }
}

ion-slides {
    height: 100% !important;
    width: 100%;
    ion-slide {
        height: auto !important;
    }
}

.pagination {
    position: absolute;
    top: 3px;
    left: 0px;
    width: 100%;
    height: auto;
    z-index: 1;

    ion-col {
        height: 3px;
        background-color: #999;
        border-radius: 6px;
        padding: 0px;
        margin: 0px 3px 0px 3px;

        .progress,
        .seen {
            height: 100%;
            background-color: #000;
        }

        .progress {
            animation-name: slideTime;
            animation-timing-function: linear;
            animation-play-state: running;
            animation-duration: 10s;
        }
    }
}

.header {
    position: relative;
    color: whitesmoke;
    top: -45%;
    left: 0px;
    width: 100%;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    z-index: 9999;
    font-weight: bold;
    ion-icon {
        margin-right: 20px;
        height: 25px;
        width: 23px;
    }

    div {
        display: flex;
        align-items: center;
        margin-left: 10px;
        margin-top: 10px;

        img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;
        }

        .info {
            display: inline-block;

            span {
                display: inherit;
                font-weight: bold;
            }
        }
    }
}

#item {
    position: absolute;
    z-index: -9999;
    width: 100% !important;
    height: 100% !important;

    img {
        width: 100% !important;
        height: 100% !important;
    }

    ion-spinner {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
    }

    video {
        max-width: 100%;
        max-height: 100%;
    }
}
