<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ionic Stories
      <ion-icon name="camera"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="scrolling-wrapper">
    <div class="card" *ngFor="let story of stories; index as i" [ngClass]="!story.seen ? 'unseen' : '' " (click)="openStory(i)">
      <img [src]="story.userPicture" alt="story do usuário">
      <span>{{story.userName}}</span>
    </div>
  </div>
</ion-content>